.root {
    -fx-font-size: 14pt;
    -fx-font-family: "Arial";
}

.menu-bar {
    -fx-background-color: #ececec;
    -fx-padding: 5;
}

.load-button {
    -fx-max-width: 100%;
    -fx-alignment: center;
    -fx-border-color: black;
    -fx-border-width: 0 1 0 0;
}

.left-pane, .center-pane, .information-pane {
    -fx-padding: 10;
    -fx-border-color: black;
}

.left-pane {
    -fx-border-width: 0 1 0 0;
    -fx-alignment: center;
}

.center-pane {
    -fx-border-width: 0 1 0 0;
    -fx-alignment: center;
}

.information-pane {
    -fx-border-width: 0 0 0 1;
}

.label-centered {
    -fx-alignment: center;
}

.base-cell {
    -fx-alignment: center;
    -fx-border-color: black;
}

.transparent-background {
    -fx-background-color: transparent;
}

.label-style {
    -fx-font-size: 20px;
    -fx-cursor: hand;
}

.number-label {
    -fx-pref-width: 30px;
    -fx-pref-height: 30px;
    -fx-alignment: center;
    -fx-border-color: black;
    -fx-border-width: 1px;
}

.selected-label {
    -fx-background-color: gold;
}

.extrabold {
    -fx-font-weight: bold;
}